<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>{{title}}</title>
		<link rel="icon" href="/assets/img/icon.png" type="image/x-icon">
		<!-- Bootstrap -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
		<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
		<!--[if lt IE 9]>
			<script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
			<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
		<![endif]-->
		<link rel="stylesheet" href="assets/css/style.css">

		<meta name="viewport" content="width=device-width, initial-scale=1">
	    <!-- Latest compiled and minified CSS -->
	    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	    <!-- Optional theme -->
	    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
	    <!-- google fonts -->
	    <link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">
	    <link href="https://fonts.googleapis.com/css?family=Montserrat:900" rel="stylesheet">
	   {{!--  <link rel="stylesheet" type="text/css" href="../../public/assets/css/style.css" /> --}}
		<link rel="stylesheet" href="assets/css/user.css">
	</head>

	<body>
		
        <!-- navbar with search -->
        <nav class="navbar navbar-default navbar-inverse navbar-toggleable-lg">
            <div class="container-fluid">
                <div class="navbar-header">
                    <!-- navbar collapses to button on small screen -->
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                </div>
                <div class="collapse navbar-collapse" id="myNavbar">
                    <ul class="nav navbar-nav">
                        <a class="navbar-brand" href="#">WebSiteName</a>
                        <li class="active"><a href="/">Home</a></li>
                        <li><a href="#">About</a></li>
                        <li><a href="#">Resources</a></li>
                    </ul>

                    {{!-- the movie databse search keyword form --}}
                    <form class="navbar-form navbar-right" action="/api/keyword" method="GET">
                        <div class="input-group">
                            <input type="text" class="form-control searchField" placeholder="Search Actors">
                            <div class="input-group-btn">
                                <button class="btn btn-default search" type="submit">
                                    <i class="glyphicon glyphicon-search"></i>
                                </button>
                            </div>
                        </div>
                    </form>

                    <!-- log in glyphicon and link in navbar -->
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="/sign-up"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
                        <li><a href="/login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
                    </ul>
                </div>
        </nav>
        <!-- end navbar -->

        <div class="display"></div>


		{{{body}}}
		<!-- jQuery -->
		<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
		<!-- Bootstrap JS -->
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
		<script type="text/javascript" src="assets/js/custom.js"></script>
		<script type="text/javascript" src="assets/js/app.js"></script>
		<script type="text/javascript" src="assets/js/omdb.js"></script>
	</body>
</html>      

{{!-- //
//   $(".search").on("click", function(event){
//   	event.preventDefault();

//   	var searchTerm = $(".searchField").val().trim();

//   	var queryURL = "https://www.themoviedb.org/search?query=" + searchTerm + "&api_key=1cf863948f045b7f12721d5ee2275e8b";

//   	$.ajax({url: queryURL, method: 'GET'}).done(function(response){
//   		$(".display").append(response.data);
//   	})
//   })


//  --}}