<div class="container">

    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h1>Welcome Our Movies Web App!</h1>
                <form role="form" id="movie-search-form">
                    <div class="form-group">
                        <label for="search-input" class="sr-only">Movie Title</label>
                        <input type="text" name="search-input" id="search-input" class="form-control" placeholder="Search Movies by Title">
                    </div>
                    <input type="submit" id="search-submit" class="btn btn-custom btn-lg btn-block" value="Search">
                </form>
                <a href="/login">Click to Login</a> | <a href="/sign-up">Click to Sign Up</a>
            </div> <!-- /.col-xs-12 -->
        </div> <!-- /.row -->
    </div> <!-- /.container -->

</div>