<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <!-- google fonts -->
    <link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:900" rel="stylesheet">
    <!-- <link rel="stylesheet" type="text/css" href="../public/assets/css/style.css" /> -->
    <link rel="stylesheet" type="text/css" href="../public/assets/css/user.css" />
</head>

<body>
    <div class="container">
        <!-- navbar with search -->
        <nav class="navbar navbar-inverse ">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">MovieGoers!</a>
                </div>
                <!--        <ul class="nav navbar-nav collapse navbar-collapse">
                <li class="active"><a href="#">Home</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Resources</a></li>
            </ul> -->
                <div class="collapse navbar-collapse" id="myNavbar">
                    <ul class="nav navbar-nav navbar-right">
                        <ul class="nav navbar-nav collapse navbar-collapse">
                            <li class="active"><a href="#">Home</a></li>
                            <li><a href="#">About</a></li>
                            <li><a href="#">Contact Us</a></li>
                        </ul>
                        <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Welcome, User <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li><a href="#">Profile</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="/auth/logout">Sign Out</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <section id="searchBar">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 col-sm-offset-3">
                        <!-- <div><img id="SMlogo" src="assets/images/YouCodelogo.png"></div> -->
                        <div class="input-group input-group-lg">
                            <input type="text" class="form-control" id="search-input" aria-label="keyWords" placeholder="Search...">
                            <div class="input-group-btn">
                                <select type="button" class="btn btn-default" id="search-option" placeholder="select option">
                                    <option>Movie</option>
                                    <option>Actor</option>
                                    <option>Genre</option>
                                </select>
                                <button type="button" class="btn btn-primary" id="search-submit"><span class="glyphicon glyphicon-search"></span></button>
                            </div>
                            <!-- /btn-group -->
                        </div>
                        <!-- /input-group -->
                        
                    </div>
                                        <!-- /.col-lg-6 -->
                </div>
                <!-- / row -->
                <div class="row">
                            <div class="col col-left-center col-full-xs bottom_divider">
                                <h2><span id="search-term"></span></h2 >
                                <!-- articles will display here -->
                            </div>
                        </div>
            </div>
            <!-- / container-->
        </section>
        <!-- /.section-->
    
        <!-- ============== / divider ================= -->
        <section class="movie">
            <div class="row">
                <div class="col col-left-center col-full-xs" id="searchResult">
                    
                    <!-- articles will display here
                <! </div> -->
                    <!-- </div> -->
                </div>
        </section>
        </div>
        <!-- container -->
        <!-- jQuery Script -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
        <script type="text/javascript" src="../public/assets/js/omdb.js"></script>
</body>

</html>