
    <div class="container">
        <!-- navbar with search -->
        <nav class="navbar navbar-inverse ">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">MovieGoers!</a>
                </div>
                <!--        <ul class="nav navbar-nav collapse navbar-collapse">
                <li class="active"><a href="#">Home</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Resources</a></li>
            </ul> -->
                <div class="collapse navbar-collapse" id="myNavbar">
                    <ul class="nav navbar-nav navbar-right">
                        <ul class="nav navbar-nav collapse navbar-collapse">
                            <li class="active"><a href="#">Home</a></li>
                            <li><a href="#">About</a></li>
                            <li><a href="#">Contact Us</a></li>
                        </ul>
                        <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Welcome, User <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li><a href="#">Profile</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="/auth/logout">Sign Out</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <section id="searchBar">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 col-sm-offset-3">
                        <!-- <div><img id="SMlogo" src="assets/images/YouCodelogo.png"></div> -->
                        <div class="input-group input-group-lg">
                            <input type="text" class="form-control" id="search-input" aria-label="keyWords" placeholder="Search...">
                            <div class="input-group-btn">
                                <select type="button" class="btn btn-default" id="search-option" placeholder="select option">
                                    <option>Movie</option>
                                    <option>Actor</option>
                                    <option>Genre</option>
                                </select>
                                <button type="button" class="btn btn-primary" id="search-submit"><span class="glyphicon glyphicon-search"></span></button>
                            </div>
                            <!-- /btn-group -->
                        </div>
                        <!-- /input-group -->
                        
                    </div>
                                        <!-- /.col-lg-6 -->
                </div>
                <!-- / row -->
                <div class="row">
                            <div class="col col-left-center col-full-xs bottom_divider">
                                <h2><span id="search-term"></span></h2 >
                                <!-- articles will display here -->
                            </div>
                        </div>
            </div>
            <!-- / container-->
        </section>
        <!-- /.section-->
    
        <!-- ============== / divider ================= -->
         <section class="movie">
            <div class="row">
                <div class="col col-left-center col-full-xs" id="searchResult">

           <ul>
           		{{#each Search}}

           			<div class='eachMovie bottom_divider'>
           			<h3>{{response.Search.Title}}>

                         
								<form action='movie/updateOn e/{{this.id}}?_method=PUT' method='POST'>
									<input type='hidden' name='devoured' value='true'>
									<button type='submit' class="btn btn-default">Watch later!</button>
								</form>
							  </div>
							</h5>
                    
                    <!-- articles will display here
                <! </div> -->

                         </div>
                		</each>
                     </ul>
                    </div> 
                </div>
        </section>
       </div>