h2 {
	text-align: left;
	text-transform: uppercase;

}

.divider {
	width: 100%;
	padding: 1px 0px;
	/*border-bottom: solid 15px white;
	border-top: solid 15px white;*/
}

.movie {
	padding-top: 20px;
	padding-bottom: 20px;
	/*background: url(../img/movie.jpg) no-repeat center fixed;*/
}

.eachMovie {
	padding-bottom: 20px;
	margin-left: 15px;
}

img {
    /*border: 1px solid #ddd;*/
    border-radius: 4px;
    padding: 5px;
    width: 300px;
    height: 300px;
    /*float: left;*/
}
.bottom_divider {
    border-bottom: 1px solid;
    border-color: gray;
    margin-bottom: 10px;
    padding-bottom: 10px;
}

/* HOVER STYLES */
div#pop-up {
  display: none;
  position: absolute;
  width: 280px;
  padding: 10px;
  background: #eeeeee;
  color: #000000;
  border: 1px solid #1a1a1a;
  font-size: 90%;
}
.searchbar {
	padding-top: 30px;
  margin-bottom: 30px;
}

#search-input {

	width: 400px;
}
.searchtext {
  display: none;
}
.thumbnail img{
  border-color: white;
 width: 400px;
 height: 400px;
}
.thumbnailsize{
 max-height: 550px;
 min-height: 550px;
 }