h2 {
	text-align: left;
	text-transform: uppercase;

}

.divider {
	width: 100%;
	padding: 10px 0px;
	border-bottom: solid 15px white;
	border-top: solid 15px white;
}

.movie {
	padding-top: 20px;
	padding-bottom: 20px;
	/*background: url(../img/movie.jpg) no-repeat center fixed;*/
}

.eachMovie {
	padding-bottom: 20px;
	margin-left: 15px;
}

img {
    /*border: 1px solid #ddd;*/
    border-radius: 4px;
    padding: 5px;
    width: 150px;
    height: 150px;
    float: left;

.bottom_divider {
    border-bottom: 1px solid #white;
    margin-bottom: 10px;
    padding-bottom: 10px;
}